<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

    <h1 id="jumbotronText">Investing in new technologies.</h1>
    <p id="jumbotronText">Buy digital currencies with ease.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Get started &raquo;</a></p>
  </div>

</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6">

      <img src="/images/home/about.jpg" class="img-fluid"/>
    </div>
    <div class="col-md-6 blog-main">
      <h2>About Us</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>