<!DOCTYPE html>
<html>
<head><% include partials/template/head.ejs %></head>
<body>
  <body>
    <% include partials/template/header.ejs %>
    <% include partials/template/investment.ejs %>
    <hr>
    <footer>
      <p>&copy; 2017 Novus, Inc.</p>
    </footer>
  <% include partials/template/jsdefaults.ejs %>
</body>
</html>
